In [59]:
import numpy as np
import pandas as pd
import seaborn as sns

In [90]:
df = pd.read_csv("train.csv")
df.head(10)

c:\users\zhaow\appdata\local\programs\python\python39\lib\site-packages\IPython\core\interactiveshell.py:3169: DtypeWarning: Columns (30) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,22267382,Modern and Cozy Large Studio in Brooklyn,Modern large studio with new amenities and app...,Our place is a little quiet sanctuary in the h...,Modern large studio with new amenities and app...,none,"BAM, Barclays, Brooklyn City Point, Fort Green...",NaN,"Subway: 2,3,4,5,A,C,B,Q,G",Washer/Dryer Dishwasher Internet Gym Roof Top ...,...,10.0,10.0,10.0,t,f,flexible,f,f,1,0.59
1,2473861,Royal Harlem TRIPLEX Home 5 Beds,Harlem is back and so gorgeous! Visit and expl...,Harlem is back and so gorgeous! Visit and expl...,Harlem is back and so gorgeous! Visit and expl...,none,HARLEM is a piece of real NY history overflowi...,HARLEM RESTAURANTS Red Rooster Harlem -- excel...,PUBLIC TRANSPORTATION: Conveniently near all p...,The WHOLE ENTIRE HOUSE,...,9.0,9.0,9.0,t,f,moderate,f,f,3,2.47
2,25079703,Sunny East Village Studio,"Clean, hip and well designed sun drenched East...",This is a rare East Village studio with it's h...,"Clean, hip and well designed sun drenched East...",none,East Village is one of the last remaining neig...,NaN,NaN,You'll have access to the entire space - it's ...,...,10.0,10.0,10.0,f,f,moderate,f,f,1,0.89
3,9342478,"Beautiful, airy, light-filled room","Private, spacious, comfortable room in 2-bed f...","Big closet, two big windows, tall ceiling and ...","Private, spacious, comfortable room in 2-bed f...",none,One block from Morgan L stop. Super cool area....,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
4,4866426,Private Room in Prime Brooklyn Spot,"Comfy, quiet and big private room in a three b...",This big old apartment that we love and take c...,"Comfy, quiet and big private room in a three b...",none,I absolutely love this neighborhood - right at...,Just a note about the space: The window in you...,Super convenient to almost all subway lines. A...,Your room has a very comfortable queen sized b...,...,10.0,10.0,10.0,f,f,flexible,f,f,1,3.14
5,19115443,26th FLOOR-RIVER VIEWS& MASSIVE SPACE-SUTTON P...,"Spacious in size, suites feature a fully equip...",Revel in the extra space in our fully furnishe...,"Spacious in size, suites feature a fully equip...",none,NaN,NaN,Subways NR456W at Lexington Av-59 St 0.34 mile...,NaN,...,NaN,NaN,NaN,f,f,super_strict_60,f,f,51,NaN
6,12132427,Spacious 1 BR in East Village!,"This super safe, super quiet, super convenient...","This super safe, super quiet, super convenient...","This super safe, super quiet, super convenient...",none,The East Village is BY FAR my favorite part of...,Owner will contact you regarding check-in at l...,"Located on 14th Street and 3rd Avenue, the apa...",The apartment is located on the ground floor o...,...,9.0,10.0,9.0,f,f,moderate,f,f,1,0.38
7,27551517,"Large sunny 1 ROOM in UES, Huge roof balcony &...",Large Sunny room in a 1 BR apartment for 1 ONL...,"Irit’s place is, hands down, the best Airbnb e...",Large Sunny room in a 1 BR apartment for 1 ONL...,none,Large sunny 1BR in UES+Huge roof balcony and G...,Large sunny 1BR in UES+Huge roof balcony and G...,"The posh, residential Upper East Side is known...",ALL,...,10.0,10.0,10.0,f,f,strict_14_with_grace_period,f,f,1,1.00
8,27016367,2 Floor duplex Event space for private party's,"**We are a event space, The price is for a 5 h...",NaN,"**We are a event space, The price is for a 5 h...",none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,NaN
9,14028380,Spacious 2 Floor 1 Bed Apartment!,Beautiful and spacious newly renovated 1 bedro...,There's a park on the other side of the street...,Beautiful and spacious newly renovated 1 bedro...,none,On one of the most beautiful tree-lined street...,NaN,"Parking is on the street, plenty available eve...",There's a separate entryway upstairs to the pr...,...,10.0,9.0,10.0,f,f,moderate,f,f,1,1.10

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33538 entries, 0 to 33537
Data columns (total 65 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   id                                33538 non-null  int64
 1   name                              33526 non-null  object
 2   summary                           32266 non-null  object
 3   space                             23038 non-null  object
 4   description                       33230 non-null  object
 5   experiences_offered               33538 non-null  object
 6   neighborhood_overview             19948 non-null  object
 7   notes                             13447 non-null  object
 8   transit                           20796 non-null  object
 9   access                            19304 non-null  object
 10  interaction                       18670 non-null  object
 11  house_rules                       19983 non-null  object
 12  host_id                           33538 non-null  int64
 13  host_name                         33533 non-null  object
 14  host_since                        33533 non-null  object
 15  host_location                     33424 non-null  object
 16  host_about                        20374 non-null  object
 17  host_response_time                17345 non-null  object
 18  host_response_rate                17345 non-null  object
 19  host_acceptance_rate              0 non-null      float64
 20  host_is_superhost                 33533 non-null  object
 21  host_neighbourhood                28832 non-null  object
 22  host_listings_count               33533 non-null  float64
 23  host_verifications                33538 non-null  object
 24  host_has_profile_pic              33533 non-null  object
 25  host_identity_verified            33533 non-null  object
 26  neighbourhood_cleansed            33538 non-null  object
 27  neighbourhood_group_cleansed      33538 non-null  object
 28  city                              33499 non-null  object
 29  state                             33528 non-null  object
 30  zipcode                           33053 non-null  object
 31  market                            33448 non-null  object
 32  country_code                      33538 non-null  object
 33  country                           33538 non-null  object
 34  property_type                     33538 non-null  object
 35  room_type                         33538 non-null  object
 36  accommodates                      33538 non-null  int64
 37  bathrooms                         33478 non-null  float64
 38  bedrooms                          33505 non-null  float64
 39  beds                              33507 non-null  float64
 40  bed_type                          33538 non-null  object
 41  amenities                         33538 non-null  object
 42  square_feet                       341 non-null    float64
 43  price                             33538 non-null  float64
 44  guests_included                   33538 non-null  int64
 45  extra_people                      33538 non-null  object
 46  minimum_nights                    33538 non-null  int64
 47  maximum_nights                    33538 non-null  int64
 48  number_of_reviews                 33538 non-null  int64
 49  first_review                      26591 non-null  object
 50  last_review                       26593 non-null  object
 51  review_scores_rating              25874 non-null  float64
 52  review_scores_accuracy            25844 non-null  float64
 53  review_scores_cleanliness         25859 non-null  float64
 54  review_scores_checkin             25829 non-null  float64
 55  review_scores_communication       25849 non-null  float64
 56  review_scores_location            25830 non-null  float64
 57  review_scores_value               25827 non-null  float64
 58  instant_bookable                  33538 non-null  object
 59  is_business_travel_ready          33538 non-null  object
 60  cancellation_policy               33538 non-null  object
 61  require_guest_profile_picture     33538 non-null  object
 62  require_guest_phone_verification  33538 non-null  object
 63  calculated_host_listings_count    33538 non-null  int64
 64  reviews_per_month                 26591 non-null  float64
dtypes: float64(15), int64(8), object(42)
memory usage: 16.6+ MB

In [43]:
df.describe()

,id,host_id,host_acceptance_rate,host_listings_count,accommodates,bathrooms,bedrooms,beds,square_feet,price,...,number_of_reviews,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,calculated_host_listings_count,reviews_per_month
count,3.353800e+04,3.353800e+04,0.0,33533.000000,33538.000000,33478.000000,33505.000000,33507.000000,341.000000,33538.000000,...,33538.000000,25874.000000,25844.000000,25859.000000,25829.000000,25849.000000,25830.000000,25827.000000,33538.000000,26591.000000
mean,1.566316e+07,5.420691e+07,NaN,10.006799,2.856789,1.141376,1.176869,1.571313,738.958944,145.177291,...,21.635548,93.751488,9.599443,9.255153,9.737466,9.754304,9.500542,9.374647,3.956288,1.429904
std,8.788870e+06,6.149736e+07,NaN,85.869452,1.848491,0.425003,0.744365,1.054226,580.780447,133.085709,...,40.488277,8.315867,0.819684,1.073818,0.706306,0.688775,0.781516,0.888392,12.687366,1.672336
min,2.515000e+03,2.830000e+02,NaN,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,20.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,1.000000,0.010000
25%,8.173466e+06,7.130984e+06,NaN,1.000000,2.000000,1.000000,1.000000,1.000000,400.000000,69.000000,...,1.000000,91.000000,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,1.000000,0.210000
50%,1.633786e+07,2.662292e+07,NaN,1.000000,2.000000,1.000000,1.000000,1.000000,700.000000,109.000000,...,5.000000,96.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,1.000000,0.770000
75%,2.276632e+07,8.248502e+07,NaN,2.000000,4.000000,1.000000,1.000000,2.000000,1000.000000,175.000000,...,23.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,2.000000,2.140000
max,2.977318e+07,2.240015e+08,NaN,2271.000000,16.000000,16.500000,10.000000,18.000000,5000.000000,1999.000000,...,557.000000,100.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,132.000000,19.890000

In [93]:
# 初步drop缺失值过多、长段文字、或者host-unique的features
def drop_initial(df): 
    cols = ["name", "summary", "space", "experiences_offered", 
            "access", "host_acceptance_rate", "notes",
            "description", "neighborhood_overview", "interaction",
            "house_rules", "host_id", "host_name", "host_about",
            "host_location", "city", "state", "zipcode", "country",
            "country_code", "host_response_time", "host_neighbourhood",
            "host_has_profile_pic"
           ]
    return df.drop(cols,  axis = 1)
drop_initial(df)

,id,transit,host_since,host_response_rate,host_is_superhost,host_listings_count,host_verifications,host_has_profile_pic,host_identity_verified,neighbourhood_cleansed,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,22267382,"Subway: 2,3,4,5,A,C,B,Q,G",2012-03-12,NaN,f,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Fort Greene,...,10.0,10.0,10.0,t,f,flexible,f,f,1,0.59
1,2473861,PUBLIC TRANSPORTATION: Conveniently near all p...,2013-09-14,100%,f,4.0,"['email', 'phone', 'reviews', 'manual_offline']",t,t,Harlem,...,9.0,9.0,9.0,t,f,moderate,f,f,3,2.47
2,25079703,NaN,2012-12-11,100%,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,East Village,...,10.0,10.0,10.0,f,f,moderate,f,f,1,0.89
3,9342478,NaN,2013-12-03,NaN,f,1.0,"['email', 'phone', 'reviews', 'kba']",t,t,Williamsburg,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
4,4866426,Super convenient to almost all subway lines. A...,2012-05-11,100%,t,1.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Boerum Hill,...,10.0,10.0,10.0,f,f,flexible,f,f,1,3.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33533,3958032,NaN,2012-06-18,NaN,f,1.0,"['email', 'phone', 'reviews', 'kba', 'work_ema...",t,t,East Village,...,9.0,9.0,8.0,f,f,strict_14_with_grace_period,f,f,1,0.44
33534,7987209,Apartment is located at 70 W 45th Street (betw...,2015-08-21,NaN,f,3.0,"['email', 'phone', 'reviews', 'kba']",t,t,Theater District,...,10.0,10.0,9.0,f,f,strict_14_with_grace_period,f,f,1,2.28
33535,796128,NaN,2012-05-03,NaN,f,1.0,"['email', 'phone', 'facebook', 'reviews', 'kba']",t,t,Woodside,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
33536,17281121,Very Close to subway lines A and 1 trains. Les...,2014-07-06,100%,f,4.0,"['email', 'phone', 'reviews', 'jumio', 'govern...",t,t,Washington Heights,...,10.0,10.0,10.0,f,f,moderate,f,f,3,0.10
33537,17414910,The new Q train line has just opened on 2nd av...,2017-01-05,92%,f,1.0,"['email', 'phone', 'google', 'reviews', 'jumio...",t,t,Upper East Side,...,10.0,10.0,9.0,t,f,strict_14_with_grace_period,f,f,1,2.76

In [98]:
# 查看host_is_superhost的不同值
print(df["host_is_superhost"].value_counts(dropna=False))
# 查看host_identity_verified的不同值
df["host_is_superhost"].value_counts(dropna=False)

f      28007
t       5526
NaN        5
Name: host_is_superhost, dtype: int64

In [74]:
# 查看
df[df["country"] == "Uruguay"]

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
7576,6645634,New unit in the heart of Manhatten,Brand new one bedroom apartment right on Manha...,NaN,Brand new one bedroom apartment right on Manha...,none,NaN,NaN,NaN,NaN,...,9.0,9.0,9.0,f,f,strict_14_with_grace_period,f,f,1,0.06

In [52]:
# 查看outliers
df[df["price"]>1000]

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
598,18001363,Fashion & Celeb Photography NOT OVERNIGHT STAY,THIS IS NOT AN OVER NIGHT STAY! As a celebrity...,THIS IS NOT AN OVER NIGHT STAY 4-6 Hour Photo ...,THIS IS NOT AN OVER NIGHT STAY! As a celebrity...,none,This is a photo production booking. Max time 5...,"All are welcome to shoot. Male, Female or any ...",Please Download Uber.,"Studio, changing room, glam area",...,NaN,NaN,NaN,f,f,strict_14_with_grace_period,f,f,1,NaN
1095,2666204,Female Summer Sublet Near CUMC,Newly renovated 2 bedroom 1-bathroom apt in Wa...,NaN,Newly renovated 2 bedroom 1-bathroom apt in Wa...,none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
2251,8739642,Designer Spacious and Clean Gem in FLATIRON DIST.,Enjoy your own private home with 2 bathrooms i...,"I provide towels, linens and fast WIFI. You do...",Enjoy your own private home with 2 bathrooms i...,none,NaN,NaN,NaN,NaN,...,10.0,10.0,9.0,f,f,strict_14_with_grace_period,f,f,3,0.76
2263,28356870,Magical home luxury Upper East Side Central Park.,This is the house you want to make your home d...,NaN,This is the house you want to make your home d...,none,NaN,NaN,NaN,NaN,...,10.0,10.0,10.0,t,f,strict_14_with_grace_period,f,f,1,0.77
2291,19178296,"Quiet, Calm and Clean Sanctuary in the Big Apple","Light, airy, clean, comfort and convenience......",Duplex. Very spacious living and dining room. ...,"Light, airy, clean, comfort and convenience......",none,"Chelsea is vibrant and exciting, one of the mo...","No smoking, no excessive noise and no parties","6th Ave is the main artery of Chelsea, so you’...",Entire apartment and the private terrace durin...,...,9.0,9.0,9.0,t,f,strict_14_with_grace_period,f,f,2,0.84
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32847,9793676,3 Bed Apt - 63rd St and Madison,"Luxury, super modern three bedroom, 2 bath apa...","Luxury, loft style, modern apartment with wood...","Luxury, super modern three bedroom, 2 bath apa...",none,Upper East Side. 1 block from Central Park. 3 ...,NaN,Subway stop for virtually all Subway Lones are...,The entire apartment,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
33062,22780195,Greenwich Street V by ONEFINESTAY,ONEFINESTAY is proud to present this 3 bedroom...,"Included amenities: Wifi, iPhone, Welcome Pack...",ONEFINESTAY is proud to present this 3 bedroom...,none,NaN,Home Truths: - The home is a third floor walk-...,NaN,NaN,...,NaN,NaN,NaN,t,f,super_strict_60,f,f,9,NaN
33312,25161105,4 br 4 bath luxury designer's loft - midtown,"Come experience my beautiful 4-bedroom, 4-bath...",We recently added smart TV's to each bedroom g...,"Come experience my beautiful 4-bedroom, 4-bath...",none,NaN,NaN,NaN,NaN,...,10.0,10.0,10.0,f,f,strict_14_with_grace_period,f,f,1,5.65
33344,4660022,Best Block Luxury Loft in SoHo,Beautifully renovated quiet 2200 sq ft loft in...,"*Just renovated in May 2018. Repainted, improv...",Beautifully renovated quiet 2200 sq ft loft in...,none,You are on the best and most authentic block n...,The location and quality of loft will surpass ...,Prince Street subway is just 2 blocks away,Guests will have access to entire loft. There ...,...,10.0,10.0,9.0,f,f,strict_14_with_grace_period,f,f,1,1.22
33534,7987209,Floor 35th in the heart of New York,This is a beautiful four bedroom and three bat...,This is a Duplex Apartment (2 floors) Main Flo...,This is a beautiful four bedroom and three bat...,none,LOCATION LOCATION LOCATION. Walk to Time Squar...,NaN,Apartment is located at 70 W 45th Street (betw...,Access to the unit is through elevators.,...,10.0,10.0,9.0,f,f,strict_14_with_grace_period,f,f,1,2.28

In [20]:
# 查看access的缺失值相对应的值
df[df["access"].isnull()]

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
3,9342478,"Beautiful, airy, light-filled room","Private, spacious, comfortable room in 2-bed f...","Big closet, two big windows, tall ceiling and ...","Private, spacious, comfortable room in 2-bed f...",none,One block from Morgan L stop. Super cool area....,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
5,19115443,26th FLOOR-RIVER VIEWS& MASSIVE SPACE-SUTTON P...,"Spacious in size, suites feature a fully equip...",Revel in the extra space in our fully furnishe...,"Spacious in size, suites feature a fully equip...",none,NaN,NaN,Subways NR456W at Lexington Av-59 St 0.34 mile...,NaN,...,NaN,NaN,NaN,f,f,super_strict_60,f,f,51,NaN
8,27016367,2 Floor duplex Event space for private party's,"**We are a event space, The price is for a 5 h...",NaN,"**We are a event space, The price is for a 5 h...",none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,t,f,strict_14_with_grace_period,f,f,1,NaN
10,20917330,Beautiful Williamsburg Apartment,You will have the 1 bed apartment to yourself ...,NaN,You will have the 1 bed apartment to yourself ...,none,NaN,NaN,NaN,NaN,...,10.0,10.0,10.0,f,f,flexible,f,f,1,0.15
11,13466663,Cozy bedroom in downtown Manhattan,Moja oferta jest w pobliżu: World Trade Center...,NaN,Moja oferta jest w pobliżu: World Trade Center...,none,NaN,NaN,NaN,NaN,...,10.0,9.0,10.0,f,f,strict_14_with_grace_period,f,f,5,0.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33523,25185813,Gorgeous WONDERFUL Apt in The Heart of NYC,Wonderful home in Manhattan NYC with 5 beds. 3...,NaN,Wonderful home in Manhattan NYC with 5 beds. 3...,none,NaN,NaN,NaN,NaN,...,10.0,10.0,9.0,t,f,flexible,f,f,2,0.94
33525,10232344,Cozy studio in heart of Manhattan,Extremely clean studio apartment with queen be...,NaN,Extremely clean studio apartment with queen be...,none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
33532,21766709,"Room at this West Village Gorgeous, Modern 4 Beds","Stay at this gorgeous room in a 4 Beds, 4 bath...",Features: • 2nd floor Unit walk-up building • ...,"Stay at this gorgeous room in a 4 Beds, 4 bath...",none,The West Village looks like a European small t...,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,strict_14_with_grace_period,f,f,8,NaN
33533,3958032,Private Room Amazing View in EV,"Private room in cozy, sun-drenched & plant fil...",NaN,"Private room in cozy, sun-drenched & plant fil...",none,NaN,NaN,NaN,NaN,...,9.0,9.0,8.0,f,f,strict_14_with_grace_period,f,f,1,0.44
33535,796128,Cozy room for rent in duplex house,NaN,Room for rent in duplex house located in Astor...,Room for rent in duplex house located in Astor...,none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN

In [40]:
# 查看property_type
df.groupby("property_type")["price"].aggregate(["mean", "count"]).sort_values(by = "count")

                              mean  count
property_type
Timeshare               425.000000      1
Island                   60.000000      1
Cabin                   110.000000      1
Casa particular (Cuba)   60.000000      1
Chalet                  212.000000      1
Houseboat               500.000000      1
Train                    90.000000      1
Tent                    180.000000      3
Camper/RV               111.333333      3
Cottage                 136.666667      3
Aparthotel              262.400000      5
Boat                    215.000000      5
Tiny house               95.444444      9
Villa                    65.578947     19
Bungalow                133.947368     19
Hotel                   358.206897     29
Hostel                   71.781250     32
Guesthouse              147.486486     37
Resort                  418.846154     65
Boutique hotel          179.382353     68
Bed and breakfast       111.397059     68
Other                   229.358696     92
Guest suite             112.601227    163
Serviced apartment      261.496568    437
Condominium             202.029197    822
Loft                    215.703382   1035
Townhouse               150.941068   1086
House                   119.353298   2471
Apartment               140.138359  27060

In [ ]:
# Proper_type transform
def proper_type_trasnform(col):

In [84]:
cheat = pd.read_csv("test.csv")
cheat.head()

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
0,19307997,Super Lux 2BR in Downtown Manhattan,Prepare to be WOWED! This spectacularly bright...,"Top of the line Wolf and Sub-Zero appliances, ...",Prepare to be WOWED! This spectacularly bright...,none,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,f,f,flexible,f,f,1,NaN
1,20176193,Vintage Eclectic Brownstone Pad in Brooklyn,"Ideal for romantic, creative types, this is an...","Not your typical New York abode, my apartment ...","Ideal for romantic, creative types, this is an...",none,Bed Stuy is a diverse historic neighborhood wi...,This is an actual unique living experience whe...,Close to buses and subways there is also free ...,"Entrance hallway, living room, bedroom, kitche...",...,10.0,10.0,10.0,f,f,flexible,f,f,1,1.48
2,19485371,Spacious Harlem Hideaway,"Postive Vibes . This is our Harlem tree house,...",The private room is very spacious and cozy. Th...,"Postive Vibes . This is our Harlem tree house,...",none,You are in a Cultural Haven full of restaurant...,We also keep cucumber water in the fridge feel...,"Train, uber or a taxi. (Extremely taxi accessi...","Private Room, Kitchen And Bathroom",...,10.0,10.0,10.0,t,f,flexible,f,f,1,0.37
3,13079990,Spacius private room in Brooklyn,"Newly renovated apartment, its a 3 bedroom apa...","3 bedroom apartment, 1 full bathroom, living r...","Newly renovated apartment, its a 3 bedroom apa...",none,NaN,NaN,"There is the Mta 3 train Sutter stop, also the...",NaN,...,9.0,8.0,9.0,f,f,flexible,f,f,1,0.23
4,22339757,*Dg) Delightful Private Room 20 min to Manhattan,Hi my home is only 2 blocks from the subway st...,NaN,Hi my home is only 2 blocks from the subway st...,none,NaN,NaN,NaN,NaN,...,8.0,8.0,8.0,t,f,strict_14_with_grace_period,f,f,9,1.53

In [88]:
cheat[cheat["id"] == 2539]

,id,name,summary,space,description,experiences_offered,neighborhood_overview,notes,transit,access,...,review_scores_communication,review_scores_location,review_scores_value,instant_bookable,is_business_travel_ready,cancellation_policy,require_guest_profile_picture,require_guest_phone_verification,calculated_host_listings_count,reviews_per_month
9669,2539,Clean & quiet apt home by the park,Renovated apt home in elevator building.,"Spacious, renovated, and clean apt home, one b...",Renovated apt home in elevator building. Spaci...,none,Close to Prospect Park and Historic Ditmas Park,If this room is unavailable on your desired da...,Very close to F and G trains and Express bus i...,NaN,...,10.0,10.0,10.0,f,f,moderate,f,f,8,0.25